
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

nav, #place-description {
    background-color: rgb(24, 25, 27);
}
.btn-comprar {
  color: rgb(25, 135, 84);
}
.btn-comprar:hover{
  color: rgb(89, 211, 154);
}

/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ba1.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Placing the image */
  .hero-text {
    text-align: right;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-30%, -50%);
    color: white;
  }

  .btn-transp{
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-white);
    --bs-btn-border-color: white;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color(rgba(171, 171, 171, 0.341), 10%)};
    --bs-btn-hover-border-color: #{shade-color(white, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-white-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color(white, 20%)};
    --bs-btn-active-border-color: #{shade-color(white, 20%)};
  }
  #dashed {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }

  #footer-nav{
    background: rgb(29,55,68);
    background: linear-gradient(90deg, rgba(29,55,68,1) 0%, rgba(29,69,94,1) 32%, rgba(38,110,152,1) 100%);
  }

.c-body{
  margin: auto;
}
.card-conf {
  max-width: 15em;
  min-width: 15rem;
  min-height: 15rem;
  margin: .2em;
  
  .c-title, .c-disc {
    margin-top: 2em;
    font-weight: bold;
  }
  .req-doc {
    font-size: small;
    font-weight: lighter;
    margin-bottom: 2em;
  }
}
.card-est {
  border: 1px solid blue;
}
.card-trai {
  border: 1px solid green;
}
.card-jun {
  border: 1px solid rgb(208, 163, 29);
}
#total {
  background-color: rgb(158, 198, 233);
}

.img-main {
  background-image: url("../assets/img/honolulu.jpg");
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-right: 1px solid white;
}

@media (max-width:992px){
  .hero-image {
    height: 450px;
  }
  .hero-text {
    text-align: right;
    top: 40%;
    left: 20%;
    transform: translate(-10%, -50%);
  }
}
@media (max-width:600px){
  
  .hero-text {
    text-align: left;
    top: 55%;
    left: 30%;
    & p{
      display: none;      
    }    
    button {
      margin: .5em 0;
    }
  }
}

.central-show{
  background-color: rgb(24, 25, 27);
  color: #fff;

  .card-main{
    padding: 2em 4em;
    margin-bottom: 1em;
  }
  .card-main-title, .card-main-text{
    margin-bottom: 1.5em;
  } 
  .card-main-text {
    width: 90%;
  }
  
}
@media (max-width:1600px){
  main {
    //background-color: rgb(24, 25, 27);
    //justify-content: center;
    //align-items: center;
    //padding: 1em auto;
  
     div:nth-child(2){
      
    }
  }

}
